.circleci/**/*
bin/**/*
blt/**/*
config/**/*
deploy/**/*
docroot/core/**/*
docroot/libraries/**/*
docroot/modules/contrib/**/*
docroot/profiles/**/*
docroot/themes/contrib/**/*
docroot/themes/custom/**/*
hooks/**/*
**/sites/**/files/**/*
files-private/**/*
node_modules/**/*
**/node_modules/**/*
tests/**/*
tmp/**/*
vendor/**/*
gulp-tasks/**/*
gulpfile.js
gulp-config.js
pattern-lab/**/*
**/pattern-lab/**/*
acquia-utils/**/*
modernizr.js
scripts/node/**/*
